/* Layout de 3 columnas */
section.page-layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    padding: 30px 20px;
    margin: 0 auto;
}

section.page-layout h1,
section.page-layout h2.subtitle {
    grid-column: 1 / -1;
}

/* COLUMNA IZQUIERDA: Ubicación y Clima */
.location-climate-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-section,
.climate-section {
    width: 230px;
    height: 300px;
    background: rgba(35, 24, 182, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 60px 20px;
    backdrop-filter: blur(10px);
}

.location-section h2,
.climate-section h2 {
    font-size: 32px;
    color: white
}


.location-section p,
.climate-section p {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.6;
}


/* COLUMNA CENTRAL: Juego */
.game-section {
    padding: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* COLUMNA DERECHA: Noticias */
.latest-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
}

.latest-news h2 {
    font-size: 1.3rem;
    color: white;
}

.news-card-image {
    width: 100%;
    height: 150px;
}

.news-container {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding: 5px;
}

.news-card {
    background: rgba(35, 24, 182, 0.3);
    color: #ffffff;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateX(5px);
}

.news-card h3 {
    font-size: 0.95rem;
    color: white;
    margin-bottom: 8px;
}


/* Responsive */
@media (max-width: 768px) {
    section.page-layout {
        grid-template-columns: 1fr;
        padding: 5px;
    }


    .news-card-image {
        width: 50%;
        height: 150px;
    }

    @media (max-width: 768px) {
        section.page-layout {
            grid-template-columns: 1fr;
            padding: 5px;
        }

        .location-climate-section {
            display: none;
            /* oculto por defecto */
            order: -1;

        }

        .location-climate-section.active {
            display: flex;
        }
    }
}